// Variables
$primary	: #D5644A;
// $darkenPrimary : #05383D;
$secondary	: #4A333E;
$grey		: #F4F4F4;
$grey-dark: #4A464D;
$highlight: #30B4CC;
$font-colour: #3e3d44;

$headerFont 	: 'Roboto', sans-serif;
$bodyFont		: 'Roboto', sans-serif;

/* ---------------- MEDIA QUERIES ----------------

------------------------------------------- */
@mixin device500 {
     @media only screen and (min-width: 500px) {
          @content;
     }
}

@mixin device800 {
     @media only screen and (min-width: 800px) {
          @content;
     }
}

@mixin device1200 {
     @media only screen and (min-width: 1200px) {
          @content;
     }
}

/* ---------------- FLEXBOX ----------------

------------------------------------------- */

@mixin flexbox {
     display: -webkit-flex;
     display: flex;
}

@mixin flex-wrap($value) {
     -webkit-flex-wrap: $value;
     flex-wrap: $value;
}

@mixin flex-grow($value) {
     -webkit-flex-grow: $value;
     flex-grow: $value;
}

@mixin flex-direction($value) {
     -webkit-flex-direction: $value;
     flex-direction: $value;
}


@mixin flex-shrink($value) {
     -webkit-flex-shrink: $value;
     flex-shrink: $value;
}

@mixin flex-basis($value) {
     -webkit-flex-basis: $value;
     flex-basis: $value;
}


@mixin flex($value) {
     -webkit-flex: $value;
     flex: $value;
}

@mixin justify-content($value) {
     -webkit-justify-content: $value;
     justify-content: $value;
}

@mixin align-items($value) {
	-webkit-align-content: $value;
	align-content: $value;
}

/* ---------------- Global ----------------

------------------------------------------- */

h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.2rem;
	margin: 0;
}
h1, h2, h3 {
	font-family: $headerFont;
	font-weight: 300;
}

@include device800 {
	h1 {font-size: 2.8rem;}
	h2 {font-size: 2.5rem;}
	h3 {font-size: 1.5rem;}
}

img {
	max-width: 100%;
}

* {
	font-family: $bodyFont;
	box-sizing: border-box;
	font-smooth: auto;
	    -webkit-font-smoothing: antialiased;

}

*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	display: inline-block;
	color: $primary;
	transition: .2s;
	text-decoration: none;
	&:hover {
		color: darken($primary, 20%);
	}
}
p, li {
	color: $font-colour;
	font-family: $bodyFont;
	line-height: 1.5;
}
ul {
	padding: 0;
}
li {
	list-style: none;
	padding: 5px 0;
}

.btn {
	padding: .5rem 1rem;
	text-align: center;
	color: #fff;
	background: $primary;
	text-decoration: none;
	font-size: 1.2rem;
	width: 100%;
	margin: .5rem 0;
	border-radius: 3px;
	&:hover {
		background-color: darken($primary, 15);
		transition: .3s;
		cursor: pointer;
		color: #fff;
	}
	@include device500 {
		width: auto;
	}
}

.container {
	padding: 1em;
	@include device800 {
		max-width: 1400px;
		margin: 0 auto;
	}
}

.dropdown-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	padding: 5rem;
	background: rgba(#fff, .8);
	transform: translateY(-150%);
	transition: .5s;
	z-index: 1;
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		background: $primary;
		margin: 0;
	}
	&__list-item {
		text-align: center;
		font-weight: 600;
		font-size: 2rem;

	}
	&__link {
		padding: 1.5rem;
		color: rgba(#fff, .6);
		border-bottom: 4px solid transparent;
		&:hover {
			color: rgba(#fff, .8);
			// color: $highlight;
			// border-color: rgba($highlight, .5);
		}
	}
	&--open {
		transform: translateY(0);
		transition: .5s;
	}
	@include device800 {
		&__list {
			// margin: 5rem;
			// height: 86vh;
		}
		&__list-item {
			font-size: 4rem;
		}
	}
}

/* ---------------- Header ----------------

------------------------------------------- */

.header {
	position: relative;
	color: #fff;
	&__github {
		color: #fff;
		position: absolute;
		top: 10px;
		left: 50px;
		opacity: 0;
		animation: text-appear-alt .3s linear 2.3s;
		animation-fill-mode: forwards;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	&__cv {
		color: #fff;
		position: absolute;
		top: 80px;
		left: -20px;
		opacity: 0;
		transform: rotate(-90deg);
		animation: text-appear-alt .3s linear 2.3s;
		animation-fill-mode: forwards;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	&__name {
		display: flex;
		align-items: center;
		background: $primary;
	}
	&__name-text {
		display: flex;
		align-items: center;
		height: 200px;
		opacity: 0;
		animation: text-appear .3s linear 1s;
		animation-fill-mode: forwards;
		padding: 3rem 5rem;
	}
	&__job {
		display: flex;
		align-items: center;
	}
	&__job-text {
		display: flex;
		align-items: center;
		height: 200px;
		width: auto;
		display: inline-block;
		color: $primary;
		text-align: left;
		opacity: 0;
		animation: text-appear .3s linear 1s;
		animation-fill-mode: forwards;
		padding: 3rem 5rem;
	}
	@include device800 {
		display: flex;
		height: 100vh;
		&__name {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 100%;
			width: 100%;
			// background: $primary;
			animation: header-slide .5s ease-in .3s;
			animation-fill-mode: forwards;
		}
		&__name-text {
			display: flex;
			align-items: center;
			height: 200px;
			opacity: 0;
			animation: text-appear .3s linear 1s;
			animation-fill-mode: forwards;
			padding: 3rem 5rem;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 0px;
				height: 0px;
				border-bottom: 5px solid #fff;
				border-left: 5px solid #fff;
				opacity: 0;
				animation: border-fill-1 .5s linear 1.3s;
				animation-fill-mode: forwards;
			}
			&::after {
				position: absolute;
				content: '';
				width: 1px;
				height: 1px;
				border-top: 5px solid #fff;
				top: 0;
				right: 0;
				opacity: 0;
				animation: border-fill-3 .3s ease-out 2.6s;
				animation-fill-mode: forwards;
			}
		}
		&__job {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			height: 100%;
			width: 50%;
		}
		&__job-text {
			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				content: '';
				width: 0px;
				height: 0px;
				border-bottom: 5px solid $primary;
				border-right: 5px solid $primary;
				opacity: 0;
				animation: border-fill-2 .5s linear 1.8s;
				animation-fill-mode: forwards;
			}
			&::after {
				position: absolute;
				content: '';
				width: 1px;
				height: 1px;
				border-top: 5px solid $primary;
				top: 0;
				right: 0;
				opacity: 0;
				animation: border-fill-3 .3s linear 2.3s;
				animation-fill-mode: forwards;
			}
		}
	}
}

@keyframes header-slide {
	0% {
		width: 100%;
	}
	100% {
		width: 50%;
	}
}
@keyframes text-appear {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes text-appear-alt {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes border-fill-1 {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	30% {
		height: 100%;
		width: 0;
	}
	100% {
		height: 100%;
		width: 100%;
		opacity: 1;
	}
}
@keyframes border-fill-2 {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	70% {
		height: 0;
		width: 100%;
	}
	100% {
		height: 100%;
		width: 100%;
		opacity: 1;

	}
}
@keyframes border-fill-3 {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
		height: 3px;
	}
	100% {
		width: 100%;
		height: 3px;
		opacity: 1;

	}
}
.hamburger {
	position: fixed;
	right: 20px;
	top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 55px;
	height: 55px;
	padding: .5rem;
	margin-bottom: 1rem;
	background: rgba(#fff, 0.7);
	z-index: 2;
	&:hover {
		cursor: pointer;
	}
	&__line {
		display: block;
	    height: 5px;
	    width: 50px;
	    margin-bottom: 6px;
	    border-radius: 5px;
	    background: $primary;
	    transition: .6s;
		&:last-of-type {
			margin-bottom: 0;
		}
		&--1 {
			animation: hamburger-jiggle .5s ease-out 3s;
			animation-timing-function:  cubic-bezier(.28,.03,0,1.6);
		}
		&--2 {
			animation: hamburger-jiggle .5s ease-out 3.1s;
			animation-timing-function:  cubic-bezier(.28,.03,0,1.6);
		}
		&--3 {
			animation: hamburger-jiggle .5s ease-out 3.2s;
			animation-timing-function:  cubic-bezier(.28,.03,0,1.6);
		}
	}
	&.hamburger-cross {
		.hamburger__line--1 {
			transform: rotate(225deg) translate(-7px, -7px);
		}
		.hamburger__line--2 {
			transform: scaleX(0) translateX(-80px);
			border-radius: 50%;
		}
		.hamburger__line--3 {
			transform: rotate(-225deg) translate(-8px, 9px);
		}
	}
}
@keyframes hamburger-jiggle {
	50% {
		transform: translateY(-4px);
	}
	100% {
		transform: translateY(0);
	}
}

/* ---------------- Feature Project ----------------

------------------------------------------- */

.feature-project {
	overflow: hidden;
	&__title {
		position: relative;
		padding-bottom: 1rem;
		margin-top: 0;
		margin-bottom: .5rem;
		color: $primary;
		&::after {
			content: '';
			position: absolute;
			height: 2px;
			width: 80px;
			left: 0;
			bottom: 0;
			background: #30B4CC;
		}
	}
	&__heading {
		padding: 5rem 0;
	}
	&__vid {
		padding: 1rem;
	}
	&__subtitle {
		color: #30B4CC;
		margin-top: 0;
		font-weight: 700;
		font-size: .75rem;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		// padding-left: 1rem;
	}
	&__description {
		position: relative;
		background: $grey;
		padding: 4rem 1rem;
		p {
			max-width: 800px;
			margin: 0 auto 1rem;
			font-size: 1rem;
			line-height: 1.6;
		}

	}
	&__mobile-pic {
		display: block;
		width: 300px;
		margin: 2rem auto;
	}
	&__tiles {
		padding: 15rem 2rem;
		transform: rotate(-8deg);
	}
	&__nav-text {
		padding: 1rem;
	}
	&__nav-img {
		padding: 1rem;
	}
	&__email-img-large {
		padding: 1rem;
		img {
			margin: auto;
			display: block;
		}
	}
	&__email-text {
		padding: 1rem;
		img {
			margin: auto;
			display: block;
		}
	}
	@include device500 {
		&__title {
			margin-top: 2rem;
		}
		&__paragraph {
			padding-left: 2rem;

		}
		&__email-img-large {
			img {
				max-width: 300px;
			}
		}
		&__email-text {
			img {
				max-width: 300px;
			}
		}
	}
	@include device800 {
		&__heading {
			display: flex;
		}
		&__title-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
		}
		&__vid {
			width: 50%;
		}
		&__description {
			display: flex;
		}
		&__paragraph {
			order: 1
		}
		&__mobile-container {
			position: relative;
			width: 25%;
			order: 0;
		}
		&__mobile-pic {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin-top: 0;
		}
		&__nav-img {
			width: 50%;
		}
		&__nav-text {
			width: 50%;

		}
		&__email {
			display: flex;
			align-items: center;
			padding: 3rem 1rem;
		}
		&__email-img-large {
			width: 50%;
		}
		&__email-text {
			width: 50%;
			p {
				padding-top: 2rem;
			}
			.btn {
				margin-bottom: 2rem;
			}
		}
	}
	@include device1200 {
		&__title {
			font-size: 3rem;
		}
		&__description {
			p {
				font-size: 1.2rem;
				
			}
		}
	}
}


/* ---------------- All Projects ----------------

------------------------------------------- */

.all-projects {
	padding: 5rem 1rem;
	h2 {
		padding: 2rem 1rem;
		color: $primary;
		border-bottom: 1px solid $primary;

	}
	@include device800 {
		display: flex;
		h2 {
			margin-bottom: 0;
		}
		&__title {
			width: 50%;
		}
		&__filter {
			width: 50%;
		}
	}
}

.filter {
	display: flex;
	flex-wrap:wrap;
	width: 100%;
	list-style: none;
	justify-content: center;
	align-items: flex-end;
	&__btn {
		padding: 10px;
		margin: 5px;
		font-family: $bodyFont;
		background: $primary;
		color: #fff;
		width: 140px;
		&:hover {
			background: none;
			color: $primary;
		}
	}
}

.webiste-container {
	@include flexbox;
	@include flex-wrap(wrap);
	justify-content: space-between;
}

.website {
	position: relative;
	width: 100%;
	@include flexbox;
	@include flex-wrap(wrap);
	padding: 2rem 0;
	transition: .3s;
	display: block;
	
	&__image {
		width: 100%;
		position: relative;
		a {
			display: inline-block;
			img {
				max-width: 100%;
			}
		}
	}
	&__link {
		display: none;
		width: 100%;
		height: 100%;
		padding: 1rem;
		color: #000;
		z-index: 2;
	}
	&__header {
		text-align: center;
		font-size: 1.8rem;
		border-bottom: 1px solid $primary;
		margin: 0;
		a {
			display: block;
			padding: 20px 0;
			font-weight: 500;
			&:hover {
				color: #fff;
				background: $primary;
			}
		}
	}
	&__btn {
		
		height: 50px;
		&--overlay {
			position: absolute;
			right: 0;
			top: 50%;
			left: 0;
			transform: translatey(-50%);
			height: 50px;
		}
	}
	ul {
		padding-left: 30px;
	}
	li {
		position: relative;
		&::before {
			content: "\f0da";
			font-family: 'Font Awesome\ 5 Free';
			font-weight: 900;
			position: absolute;
			left: -18px;
			top: 8px;
			color: $primary;
		}
	}
	@include device800 {
		width: 48%;
		&__link {
			position: absolute;
			top: 0;
			display: none;
			background: rgba(#fff, .8);
		}
	}
}

.animation {
	line-height: 1.5;
	max-width: 800px;
	text-align: center;
	margin: 100px auto;
	&__header {
		color: $primary;
		font-size: 2rem;
		font-weight: 500;
	}
	&__info {
		padding: 20px 0 50px 0;
	}
	p {
		line-height: 1.5;	
	}
}

iframe {
	max-width: 800px;
}

footer {
	text-align: center;
	i {
		color: $primary;
		padding-right: 10px;
	}
}

