/* ---------------- MEDIA QUERIES ----------------

------------------------------------------- */
/* ---------------- FLEXBOX ----------------

------------------------------------------- */
/* ---------------- Global ----------------

------------------------------------------- */
h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.2rem;
  margin: 0; }

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 2.8rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 1.5rem; } }

img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

a {
  display: inline-block;
  color: #18AEBC;
  transition: .2s;
  text-decoration: none; }
  a:hover {
    color: #12848f; }

.header-decor {
  position: relative; }

* {
  font-family: 'sans-serif'; }

p, a, li {
  font-family: "Roboto", sans-serif; }

ul {
  padding: 0; }

li {
  list-style: none;
  padding: 5px 0; }

.btn {
  padding: 1rem 2rem;
  text-align: center;
  color: #18AEBC;
  border: 2px solid #18AEBC;
  text-decoration: none;
  font-size: 1.2rem;
  width: 100%; }
  .btn:hover {
    background-color: #18AEBC;
    transition: .3s;
    cursor: pointer;
    color: #fff; }
  @media only screen and (min-width: 500px) {
    .btn {
      width: auto; } }

.container {
  padding: 1em; }
  @media only screen and (min-width: 800px) {
    .container {
      max-width: 1400px;
      margin: 0 auto; } }

header {
  min-height: 400px;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  header .header__content {
    position: relative;
    z-index: 1;
    outline: 2px solid #fff;
    padding: 10px 60px 50px 20px;
    margin-top: 100px;
    z-index: 2; }
    header .header__content h2 {
      max-width: 500px;
      margin: 20px 0; }
  header .header__background {
    width: 100%;
    height: 300px;
    background: #7b0046;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  header .header-box-outline {
    background-color: #18AEBC;
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: 0; }
  @media only screen and (min-width: 800px) {
    header .header-box-outline {
      -webkit-clip-path: polygon(0 16%, 0 67%, 100% 0, 100% 100%);
      clip-path: polygon(0 16%, 0 67%, 100% 0, 100% 100%); }
    header .header__background {
      height: 330px; } }

.about {
  line-height: 1.5;
  margin: 40px 0;
  margin: 40px 0; }
  .about__col {
    text-align: center;
    padding: 20px 0; }
  .about i {
    color: #7b0046;
    padding-right: 8px; }
  @media only screen and (min-width: 800px) {
    .about {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .about__col {
        width: 33%; } }

.filter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  max-width: 600px;
  margin: auto; }
  .filter__btn {
    padding: 10px;
    margin: 5px;
    font-family: "Roboto", sans-serif;
    background: #fff; }
    @media only screen and (min-width: 500px) {
      .filter__btn {
        width: 31.333%; } }

.webiste-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.website {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2rem 0;
  transition: .3s;
  display: block; }
  .website__image {
    width: 100%;
    position: relative; }
    .website__image a {
      display: inline-block; }
      .website__image a img {
        max-width: 100%; }
  .website__link {
    display: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: #000;
    z-index: 2; }
  .website__header {
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 1px solid #18AEBC;
    margin: 0; }
    .website__header a {
      display: block;
      padding: 20px 0;
      font-weight: 500; }
      .website__header a:hover {
        color: #fff;
        background: #18AEBC; }
  .website__btn {
    height: 50px; }
    .website__btn--overlay {
      position: absolute;
      right: 0;
      top: 50%;
      left: 0;
      -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
      transform: translatey(-50%);
      height: 50px; }
  .website ul {
    padding-left: 30px; }
  .website li {
    position: relative; }
    .website li::before {
      content: "\f0da";
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;
      position: absolute;
      left: -18px;
      top: 8px;
      color: #18AEBC; }
  @media only screen and (min-width: 800px) {
    .website {
      width: 48%; }
      .website__link {
        position: absolute;
        top: 0;
        display: none;
        background: rgba(255, 255, 255, 0.8); } }

.animation {
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  margin: 100px auto; }
  .animation__header {
    color: #18AEBC;
    font-size: 2rem;
    font-weight: 500; }
  .animation__info {
    padding: 20px 0 50px 0; }
  .animation p {
    line-height: 1.5; }

iframe {
  max-width: 800px; }

footer {
  text-align: center; }
  footer i {
    color: #18AEBC;
    padding-right: 10px; }

/*# sourceMappingURL=style.css.map */