// Variables
$primary: #363d76;
$secondary: #cbd1ff;
$tertiary: #f4f5ff;
// $darkenPrimary : #05383D;
$grey: #f4f4f4;
$grey-dark: #4a464d;
$font-colour: #3e3d44;
$chip-colour: #c5f0e2;

$headerFont: 'Capriola', sans-serif;
$bodyFont: 'Work Sans', sans-serif;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;

/* ---------------- MEDIA QUERIES ----------------

------------------------------------------- */
@mixin device500 {
  @media only screen and (min-width: 500px) {
    @content;
  }
}

@mixin device800 {
  @media only screen and (min-width: 800px) {
    @content;
  }
}

@mixin device1200 {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin device1500 {
  @media only screen and (min-width: 1500px) {
    @content;
  }
}

/* ---------------- Global ----------------

------------------------------------------- */
html {
  background-color: $tertiary;
  font-size: 100%;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}
h4 {
  margin: 1.75rem 0 1rem;
}
h1,
h2 {
  font-family: $headerFont;
  font-weight: normal;
}

h1,
h2,
h3 {
  color: $primary;
}

@include device800 {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

@include device1500 {
  h1 {
    font-size: 6rem;
  }
}

ul {
  padding-inline-start: 1.2rem;
}

li {
  margin: 0.5rem 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

* {
  font-family: $bodyFont;
  box-sizing: border-box;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  display: inline-block;
  color: $primary;
  transition: 0.2s;
  text-decoration: none;
  &:hover {
    color: lighten($primary, 10%);
  }
}
p a,
ul a {
  color: #0168b3;
  &:hover {
    color: darken(#0168b3, 5%);
    text-decoration: underline;
  }
}
p,
li {
  color: $font-colour;
  font-family: $bodyFont;
  line-height: 1.5;

  @include device800 {
    font-size: 1.125rem;
  }
}

.btn {
  padding: 0.6rem 1rem;
  text-align: center;
  color: #fff;
  background: $primary;
  text-decoration: none;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 8px;
  &:hover {
    background-color: lighten($primary, 15%);
    transition: 0.1s;
    cursor: pointer;
    color: #fff;
  }
  @include device500 {
    width: auto;
  }

  @include device800 {
    font-size: 1.125rem;
  }
}

.container {
  padding: 1em;
  @include device800 {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.hide {
  display: none !important;
}

/* ---------------- Header ----------------

------------------------------------------- */

.header {
  color: #fff;
  background-color: $secondary;
  display: grid;
  grid-template-rows: 2fr 3fr;
  &__name-container {
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1rem;
  }
  &__name {
    color: $primary;
    margin: 1rem 0;
    &--intro {
      color: $primary;
      display: block;
      font-size: 1rem;
      margin-inline-start: 0.2rem;
    }
  }
  &__desc-container {
    align-items: center;
    background-color: $primary;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    p {
      color: $secondary;
      font-size: 1.5rem;
    }
  }
  &__desc-image {
    max-width: 300px;
    width: 100%;
  }
  &__social-icons {
    font-size: 2rem;
    margin-inline-end: 0.5rem;
    margin-inline-start: 0.2rem;
    &:hover {
      color: lighten($primary, 10%);
    }
  }
  @include device500 {
    &__desc-image {
      max-width: 450px;
    }
  }
  @include device800 {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    &__desc-container,
    &__name_contaienr {
      padding: 2rem;
    }
    &__desc-container {
      justify-content: space-around;
      p {
        font-size: 2rem;
      }
    }
    &__desc-image {
      max-width: 100%;
    }
    &__social-icons {
      font-size: 2.5rem;
    }
    &__name--intro {
      font-size: 1.5rem;
    }
  }
  @include device1200 {
    &__desc-container,
    &__name-container {
      padding: 4rem;
    }
  }
  @include device1500 {
    &__desc-container p {
      font-size: 3rem;
    }
  }
}

/* ---------------- Feature Project ----------------

------------------------------------------- */
.body-section {
  margin: 3rem 0;
  @include device800 {
    margin: 5rem 0;
  }
}

.main-body {
  &__heading {
    text-align: center;
    @include device800 {
      margin: 1rem 0 1rem;
    }
  }

  &__description {
    max-width: 800px;
    text-align: center;
  }

  &__description-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.feature-project {
  &__description {
    position: relative;
    background: $grey;
    padding: 2rem 1rem;
    p {
      max-width: 800px;
      font-size: 1rem;
      line-height: 1.6;
    }
  }
  &__heading {
    padding: 2rem 0;
  }
  &__title {
    position: relative;
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: $primary;
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 80px;
      left: 0;
      bottom: 0;
      background: #444444;
    }
  }
  &__vid {
    padding: 2rem 0;
    img {
      box-shadow: 0 0 2px rgba(black, 0.2);
    }
  }
  &__subtitle {
    color: #444444;
    margin-top: 0;
    font-size: 0.75rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    // padding-left: 1rem;
  }
  &__mobile-pic {
    display: block;
    width: 300px;
    margin: 2rem auto;
  }
  &__tiles {
    padding: 4rem 1rem;
  }
  &__nav-text {
    padding: 1rem;
  }
  &__nav-img {
    padding: 1rem;
  }
  &__email-img-large {
    padding: 4rem 1rem;
    img {
      box-shadow: 0 0 2px rgba(black, 0.2);
      margin: auto;
      display: block;
    }
  }
  &__email-text {
    padding: 1rem;
    p {
      font-size: 1rem;
      line-height: 1.6;
    }
    img {
      box-shadow: 0 0 2px rgba(black, 0.2);
      display: block;
      margin: 2rem auto;
    }
  }
  @include device500 {
    &__title {
      margin-top: 2rem;
    }
    &__email-img-large {
      img {
        max-width: 300px;
      }
    }
    &__email-text {
      img {
        max-width: 300px;
      }
    }
  }
  @include device800 {
    &__description {
      padding: 4rem 1rem;
    }
    &__description-container {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 2fr;
    }
    &__heading {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 2fr;
      padding: 4rem 0;
    }
    &__paragraph .btn {
      margin-right: 0.5rem;
    }
    &__tiles {
      padding: 18rem 2rem 3rem;
    }
    &__title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__paragraph {
      order: 1;
    }
    &__mobile-container {
      position: relative;
      order: 0;
    }
    &__mobile-pic {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: 0;
    }
    &__nav-img {
      width: 50%;
    }
    &__nav-text {
      width: 50%;
    }
    &__email {
      display: flex;
      align-items: center;
      max-width: 1400px;
      margin: auto;
      padding: 3rem 1rem;
    }
    &__email-img-large {
      width: 50%;
    }
    &__email-text {
      width: 50%;
      img {
        margin: 2rem 0;
      }
    }
  }
  @include device1200 {
    &__description {
      p {
        font-size: 1.2rem;
      }
    }
    &__email-text {
      p {
        font-size: 1.2rem;
      }
    }
  }
}

/* ---------------- Projects ----------------

------------------------------------------- */

.project {
  background-color: white;
  border-radius: 4px;
  margin: 3rem auto;
  padding: 2rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  &:first-of-type {
    margin-top: 0;
  }

  &__image {
    border-radius: 4px;
    box-shadow: 0px 1px 3px #00000033;
  }

  @include device800() {
    align-items: center;
    display: grid;
    grid-gap: 2rem;
    grid-template: auto / repeat(2, 1fr);

    &:nth-of-type(odd) {
      .project__info {
        order: 1;
      }
    }
  }
}
.chip-container {
  display: flex;
  gap: $spacing-small;
  flex-wrap: wrap;
  margin: 0.5rem 0 2rem;
}

.chip {
  background: $secondary;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
}

// Gallery
.gallery {
  display: grid;
  grid-gap: $spacing-small;
  grid-template: auto / repeat(2, 1fr);
  list-style: none;
  padding: 0;

  &__item {
    cursor: pointer;
    margin: 0;

    &--large {
      grid-column: 1 / 3;
    }

    &:hover {
      img {
        box-shadow: 0px 0px 5px #b7b7b7;
      }
    }
  }

  img {
    box-shadow: 0px 0px 3px #d8d8d8;
    transition: 0.1s;
  }
}

.gallery-modal {
  align-items: center;
  background: rgba(black, 0.9);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;

  &--open {
    display: flex;
  }

  &__button {
    align-items: center;
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 23%,
      rgba(0, 0, 0, 0) 60%
    );
    border: 0;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 45px;
    justify-content: center;
    position: absolute;
    width: 45px;
  }

  &__close {
    top: 1rem;
    right: 1rem;
  }

  &__next {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__prev {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

footer {
  align-items: center;
  background: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  a {
    color: $primary;
    &:hover {
      color: lighten($primary, 10%);
    }
  }
  i {
    font-size: 2.5rem;
    margin: 0.5rem;
  }
}

.thank-you {
  color: $primary;
  font-family: $headerFont;
  font-size: 1.25rem;
  max-width: 500px;
}

// SVG
.svg-switch {
  background: #6fcdd6;
  border-radius: 2rem;
  cursor: pointer;
  margin: 2rem 0;
  padding: 6px;
  position: relative;
  transition: 0.1s;
  width: 52px;
  z-index: 1;
}
.svg-switch-circle {
  background: white;
  border-radius: 50%;
  display: block;
  height: 20px;
  margin-left: 0;
  transition: 0.1s;
  width: 20px;
}
#svg-switch-input {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  transition: 0.1s;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  &:hover {
    & ~ .svg-switch-circle {
      transform: scale(1.1);
    }
  }
}
.svg-switch.lights-off {
  background: #262939;
}
.svg-switch.lights-off {
  #svg-switch-input:hover ~ .svg-switch-circle {
    transform: scale(1.1);
  }
  .svg-switch-circle {
    margin-left: 20px;
  }
}
#svg-mug-shadow,
#svg-lamp-base-shadow,
#svg-monitor-shadow {
  opacity: 1;
  transition: 0.2s;
}
#svg-browser-window,
#svg-code-editor,
#svg-lamp-base,
#svg-lamp-head-elipsis-highlight,
#svg-lamp-head-main-highlight,
#svg-lamp-head-rect,
#svg-light-bulb,
#svg-mug,
#svg-monitor-base,
#svg-post-it-strike {
  transition: 0.2s;
}
#svg-post-it-strike {
  stroke-width: 0;
}
.lights-off {
  #svg-code-editor,
  #svg-browser-window,
  #svg-lamp-head-elipsis-highlight {
    opacity: 0;
  }
  #svg-lamp-base,
  #svg-lamp-head-rect,
  #svg-lamp-head-main-highlight {
    fill: #b16084;
  }
  #svg-light-bulb {
    fill: #f7f0d2;
  }
  #svg-mug {
    fill: #57a9b1;
  }
  #svg-monitor-base {
    fill: #9da0b4;
  }
  #svg-light-halo {
    animation: lights-off 0.1s ease-in;
    transform: translate(193.23px, 74px) scale(0);
  }
  #svg-post-it-strike {
    stroke-width: 1px;
  }
}
.lights-on #svg-light-halo {
  animation: lights-on 0.1s ease-in;
  transform: translate(193.23px, 74px) scale(1);
}

@keyframes lights-on {
  0% {
    transform: translate(193.23px, 74px) scale(0.7);
  }
  100% {
    transform: translate(193.23px, 74px) scale(1);
  }
}
@keyframes lights-off {
  0% {
    transform: translate(193.23px, 74px) scale(1);
  }
  100% {
    transform: translate(193.23px, 74px) scale(0);
  }
}

/*
Translate values of steam.
translate(1306 450)
translate(1292 450)
translate(1278 450)
translate(1264 450)
translate(1251 450)
*/

$STEAM_BLOCKS: (
  (
    delay: 1,
    duration: 2,
    name: 'svg-steam-5',
    x_position: 1306,
    y_position: 375,
    y_position-final: 365,
  ),
  (
    delay: 0,
    duration: 2,
    name: 'svg-steam-4',
    x_position: 1292,
    y_position: 355,
    y_position-final: 355,
  ),
  (
    delay: 0.3,
    duration: 3,
    name: 'svg-steam-3',
    x_position: 1278,
    y_position: 350,
    y_position-final: 345,
  ),
  (
    delay: 3.2,
    duration: 2,
    name: 'svg-steam-2',
    x_position: 1264,
    y_position: 355,
    y_position-final: 355,
  ),
  (
    delay: 0.8,
    duration: 3,
    name: 'svg-steam-1',
    x_position: 1251,
    y_position: 365,
    y_position-final: 385,
  )
);

@each $steam_block in $STEAM_BLOCKS {
  $delay: map-get($steam_block, delay);
  $duration: map-get($steam_block, duration);
  $name: map-get($steam_block, name);
  $x-pos: map-get($steam_block, x_position);
  $y-pos: map-get($steam_block, y_position);
  $y-pos-final: map-get($steam_block, y_position-final);

  ##{$name} {
    animation: steam_#{$name} #{$duration}s ease-out #{$delay}s infinite;
    filter: blur(1.7rem);
    opacity: 0;
    transform: translate(#{$x-pos}px, #{$y-pos-final}px) scale(0);
  }

  .lights-off ##{$name} {
    animation: none;
    opacity: 0;
  }

  @keyframes steam_#{$name} {
    0% {
      opacity: 0;
      transform: translate(#{$x-pos}px, 460px) scale(0.25);
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
      transform: translate(#{$x-pos}px, #{$y-pos}px) scale(1.1);
    }
    100% {
      transform: translate(#{$x-pos}px, #{$y-pos-final}px) scale(0);
      opacity: 0;
    }
  }
}
