/* ---------------- MEDIA QUERIES ----------------

------------------------------------------- */
/* ---------------- Global ----------------

------------------------------------------- */
h1 {
  font-size: 2.5rem;
  line-height: 1;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  color: #3e3d44;
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  margin: 1.75rem 0 1rem;
}

h1,
h2 {
  font-family: "Capriola", sans-serif;
  font-weight: normal;
}

h1,
h2 {
  color: #343a65;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
li {
  margin: 0.5rem 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

* {
  font-family: "Work Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  display: inline-block;
  color: #343a65;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}
a:hover {
  color: #232743;
}

p a {
  color: #0168b3;
}
p a:hover {
  color: #01599a;
  text-decoration: underline;
}

p,
li {
  color: #3e3d44;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
}

.btn {
  padding: 0.6rem 1rem;
  text-align: center;
  color: #fff;
  background: #343a65;
  text-decoration: none;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 4px;
}
.btn:hover {
  background-color: #232743;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
}
@media only screen and (min-width: 500px) {
  .btn {
    width: auto;
  }
}

.container {
  padding: 1em;
}
@media only screen and (min-width: 800px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

/* ---------------- Header ----------------

------------------------------------------- */
.header {
  color: #fff;
  background-color: #c2c8f3;
  display: grid;
  grid-template-rows: 2fr 3fr;
}
.header__name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}
.header__name {
  color: #343a65;
  margin: 1rem 0;
}
.header__name--intro {
  color: #343a65;
  display: block;
  font-size: 1rem;
  -webkit-margin-start: 0.2rem;
          margin-inline-start: 0.2rem;
}
.header__desc-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #343a65;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__desc-container p {
  color: #c2c8f3;
  font-size: 1.5rem;
}
.header__desc-image {
  max-width: 300px;
  width: 100%;
}
.header__social-icons {
  font-size: 2rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
  -webkit-margin-start: 0.2rem;
          margin-inline-start: 0.2rem;
}
.header__social-icons:hover {
  color: #454d87;
}
@media only screen and (min-width: 500px) {
  .header__desc-image {
    max-width: 450px;
  }
}
@media only screen and (min-width: 800px) {
  .header {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  .header__desc-container, .header__name_contaienr {
    padding: 2rem;
  }
  .header__desc-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__desc-container p {
    font-size: 2rem;
  }
  .header__social-icons {
    font-size: 2.5rem;
  }
  .header__name--intro {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header__desc-container, .header__name-container {
    padding: 4rem;
  }
}

.hamburger {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 55px;
  z-index: 3;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover .hamburger__line {
  background-color: #454d87;
}
.hamburger__line {
  display: block;
  height: 5px;
  width: 50px;
  margin-bottom: 6px;
  border-radius: 5px;
  background: #c2c8f3;
  -webkit-transition: background-color 0.1s, -webkit-transform 0.5s;
  transition: background-color 0.1s, -webkit-transform 0.5s;
  transition: background-color 0.1s, transform 0.5s;
  transition: background-color 0.1s, transform 0.5s, -webkit-transform 0.5s;
}
@media only screen and (min-width: 800px) {
  .hamburger__line {
    background: #343a65;
  }
}
.hamburger__line:last-of-type {
  margin-bottom: 0;
}
.hamburger.hamburger-cross .hamburger__line--1 {
  -webkit-transform: rotate(225deg) translate(-7px, -7px);
      -ms-transform: rotate(225deg) translate(-7px, -7px);
          transform: rotate(225deg) translate(-7px, -7px);
}
.hamburger.hamburger-cross .hamburger__line--2 {
  -webkit-transform: scaleX(0) translateX(-80px);
      -ms-transform: scaleX(0) translateX(-80px);
          transform: scaleX(0) translateX(-80px);
  border-radius: 50%;
}
.hamburger.hamburger-cross .hamburger__line--3 {
  -webkit-transform: rotate(-225deg) translate(-8px, 9px);
      -ms-transform: rotate(-225deg) translate(-8px, 9px);
          transform: rotate(-225deg) translate(-8px, 9px);
}

/* ---------------- Feature Project ----------------

------------------------------------------- */
.feature-project {
  overflow: hidden;
}
.feature-project__description {
  position: relative;
  background: #f4f4f4;
  padding: 2rem 1rem;
}
.feature-project__description p {
  max-width: 800px;
  font-size: 1rem;
  line-height: 1.6;
}
.feature-project__heading {
  padding: 2rem 0;
}
.feature-project__title {
  position: relative;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #343a65;
}
.feature-project__title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  left: 0;
  bottom: 0;
  background: #444444;
}
.feature-project__vid {
  padding: 2rem 0;
}
.feature-project__vid img {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.feature-project__subtitle {
  color: #444444;
  margin-top: 0;
  font-size: 0.75rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.feature-project__mobile-pic {
  display: block;
  width: 300px;
  margin: 2rem auto;
}
.feature-project__tiles {
  padding: 4rem 1rem;
}
.feature-project__nav-text {
  padding: 1rem;
}
.feature-project__nav-img {
  padding: 1rem;
}
.feature-project__email-img-large {
  padding: 4rem 1rem;
}
.feature-project__email-img-large img {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: auto;
  display: block;
}
.feature-project__email-text {
  padding: 1rem;
}
.feature-project__email-text p {
  font-size: 1rem;
  line-height: 1.6;
}
.feature-project__email-text img {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 2rem auto;
}
@media only screen and (min-width: 500px) {
  .feature-project__title {
    margin-top: 2rem;
  }
  .feature-project__email-img-large img {
    max-width: 300px;
  }
  .feature-project__email-text img {
    max-width: 300px;
  }
}
@media only screen and (min-width: 800px) {
  .feature-project__description {
    padding: 4rem 1rem;
  }
  .feature-project__description-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;
  }
  .feature-project__heading {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;
    padding: 4rem 0;
  }
  .feature-project__paragraph .btn {
    margin-right: 0.5rem;
  }
  .feature-project__tiles {
    padding: 18rem 2rem 3rem;
  }
  .feature-project__title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feature-project__paragraph {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .feature-project__mobile-container {
    position: relative;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .feature-project__mobile-pic {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
  }
  .feature-project__nav-img {
    width: 50%;
  }
  .feature-project__nav-text {
    width: 50%;
  }
  .feature-project__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 3rem 1rem;
  }
  .feature-project__email-img-large {
    width: 50%;
  }
  .feature-project__email-text {
    width: 50%;
  }
  .feature-project__email-text img {
    margin: 2rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  .feature-project__description p {
    font-size: 1.2rem;
  }
  .feature-project__email-text p {
    font-size: 1.2rem;
  }
}

/* ---------------- All Projects ----------------

------------------------------------------- */
.all-projects {
  padding: 2rem 0 0;
}
.all-projects h2 {
  color: #343a65;
}
@media only screen and (min-width: 800px) {
  .all-projects h2 {
    margin-bottom: 0;
  }
}

.website-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.website {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}
.website__image {
  width: 100%;
  position: relative;
}
.website__image a {
  display: inline-block;
}
.website__image a img {
  max-width: 100%;
}
.website__link {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: #000;
  z-index: 2;
}
.website__header {
  margin: 0;
}
.website__header a {
  padding: 20px 0 0;
  text-decoration: underline;
}
.website__btn {
  height: 50px;
}
.website__btn--overlay {
  position: absolute;
  right: 0;
  top: 50%;
  left: 0;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  height: 50px;
}
.website ul {
  padding-left: 30px;
}
.website li {
  position: relative;
}
.website li::before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: -18px;
  top: 4px;
  color: #343a65;
}
@media only screen and (min-width: 800px) {
  .website {
    width: 48%;
  }
  .website__link {
    position: absolute;
    top: 0;
    display: none;
    background: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1200px) {
  .website li {
    font-size: 1.2rem;
  }
}

.animation {
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  margin: 100px auto;
}
.animation__header {
  color: #343a65;
  font-size: 2rem;
  font-weight: 500;
}
.animation__info {
  padding: 20px 0 50px 0;
}
.animation p {
  line-height: 1.5;
}

iframe {
  max-width: 800px;
}

.project {
  margin: 5rem auto;
}
.project h2 {
  margin-bottom: 0.5rem;
}
.project:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 800px) {
  .project {
    display: grid;
    grid-gap: 2rem;
    grid-template: auto/repeat(2, 1fr);
  }
  .project:nth-of-type(even) .project__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.chip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.5rem 0 1rem;
}

.chip {
  background: #c5f0e2;
  border-radius: 2rem;
  padding: 0.25rem 0.75rem;
}

.gallery {
  display: grid;
  grid-gap: 0.5rem;
  grid-template: auto/repeat(2, 1fr);
  list-style: none;
  padding: 0;
}
.gallery__item {
  cursor: pointer;
  margin: 0;
}
.gallery__item:hover img {
  -webkit-box-shadow: 0px 0px 5px #b7b7b7;
          box-shadow: 0px 0px 5px #b7b7b7;
}
.gallery img {
  -webkit-box-shadow: 0px 0px 3px #d8d8d8;
          box-shadow: 0px 0px 3px #d8d8d8;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
@media only screen and (min-width: 800px) {
  .gallery {
    grid-gap: 1rem;
  }
}

.gallery-modal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.9);
  bottom: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
}
.gallery-modal--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery-modal__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 45px;
}
.gallery-modal__close {
  top: 1rem;
  right: 1rem;
}
.gallery-modal__next {
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-modal__prev {
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer {
  background: #c2c8f3;
  text-align: center;
  padding: 2rem 1rem;
}
footer a {
  color: #343a65;
}
footer a:hover {
  color: #454d87;
}
footer i {
  font-size: 2.5rem;
  margin: 0.5rem;
}

.svg-switch {
  background: #6fcdd6;
  border-radius: 2rem;
  cursor: pointer;
  margin: 2rem 0;
  padding: 6px;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 52px;
  z-index: 1;
}

.svg-switch-circle {
  background: white;
  border-radius: 50%;
  display: block;
  height: 20px;
  margin-left: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 20px;
}

#svg-switch-input {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
#svg-switch-input:hover ~ .svg-switch-circle {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.svg-switch.lights-off {
  background: #262939;
}

.svg-switch.lights-off #svg-switch-input:hover ~ .svg-switch-circle {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.svg-switch.lights-off .svg-switch-circle {
  margin-left: 20px;
}

#svg-mug-shadow,
#svg-lamp-base-shadow,
#svg-monitor-shadow {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#svg-browser-window,
#svg-code-editor,
#svg-lamp-base,
#svg-lamp-head-elipsis-highlight,
#svg-lamp-head-main-highlight,
#svg-lamp-head-rect,
#svg-light-bulb,
#svg-mug,
#svg-monitor-base,
#svg-post-it-strike {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#svg-post-it-strike {
  stroke-width: 0;
}

.lights-off #svg-code-editor,
.lights-off #svg-browser-window,
.lights-off #svg-lamp-head-elipsis-highlight {
  opacity: 0;
}
.lights-off #svg-lamp-base,
.lights-off #svg-lamp-head-rect,
.lights-off #svg-lamp-head-main-highlight {
  fill: #b16084;
}
.lights-off #svg-light-bulb {
  fill: #f7f0d2;
}
.lights-off #svg-mug {
  fill: #57a9b1;
}
.lights-off #svg-monitor-base {
  fill: #9da0b4;
}
.lights-off #svg-light-halo {
  -webkit-animation: lights-off 0.1s ease-in;
          animation: lights-off 0.1s ease-in;
  -webkit-transform: translate(193.23px, 74px) scale(0);
      -ms-transform: translate(193.23px, 74px) scale(0);
          transform: translate(193.23px, 74px) scale(0);
}
.lights-off #svg-post-it-strike {
  stroke-width: 1px;
}

.lights-on #svg-light-halo {
  -webkit-animation: lights-on 0.1s ease-in;
          animation: lights-on 0.1s ease-in;
  -webkit-transform: translate(193.23px, 74px) scale(1);
      -ms-transform: translate(193.23px, 74px) scale(1);
          transform: translate(193.23px, 74px) scale(1);
}

@-webkit-keyframes lights-on {
  0% {
    -webkit-transform: translate(193.23px, 74px) scale(0.7);
            transform: translate(193.23px, 74px) scale(0.7);
  }
  100% {
    -webkit-transform: translate(193.23px, 74px) scale(1);
            transform: translate(193.23px, 74px) scale(1);
  }
}

@keyframes lights-on {
  0% {
    -webkit-transform: translate(193.23px, 74px) scale(0.7);
            transform: translate(193.23px, 74px) scale(0.7);
  }
  100% {
    -webkit-transform: translate(193.23px, 74px) scale(1);
            transform: translate(193.23px, 74px) scale(1);
  }
}
@-webkit-keyframes lights-off {
  0% {
    -webkit-transform: translate(193.23px, 74px) scale(1);
            transform: translate(193.23px, 74px) scale(1);
  }
  100% {
    -webkit-transform: translate(193.23px, 74px) scale(0);
            transform: translate(193.23px, 74px) scale(0);
  }
}
@keyframes lights-off {
  0% {
    -webkit-transform: translate(193.23px, 74px) scale(1);
            transform: translate(193.23px, 74px) scale(1);
  }
  100% {
    -webkit-transform: translate(193.23px, 74px) scale(0);
            transform: translate(193.23px, 74px) scale(0);
  }
}
/*
Translate values of steam.
translate(1306 450)
translate(1292 450)
translate(1278 450)
translate(1264 450)
translate(1251 450)
*/
#svg-steam-5 {
  -webkit-animation: steam_svg-steam-5 2s ease-out 1s infinite;
          animation: steam_svg-steam-5 2s ease-out 1s infinite;
  -webkit-filter: blur(1.7rem);
          filter: blur(1.7rem);
  opacity: 0;
  -webkit-transform: translate(1306px, 365px) scale(0);
      -ms-transform: translate(1306px, 365px) scale(0);
          transform: translate(1306px, 365px) scale(0);
}

.lights-off #svg-steam-5 {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

@-webkit-keyframes steam_svg-steam-5 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1306px, 460px) scale(0.25);
            transform: translate(1306px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1306px, 375px) scale(1);
            transform: translate(1306px, 375px) scale(1);
  }
  100% {
    -webkit-transform: translate(1306px, 365px) scale(0);
            transform: translate(1306px, 365px) scale(0);
    opacity: 0;
  }
}

@keyframes steam_svg-steam-5 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1306px, 460px) scale(0.25);
            transform: translate(1306px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1306px, 375px) scale(1);
            transform: translate(1306px, 375px) scale(1);
  }
  100% {
    -webkit-transform: translate(1306px, 365px) scale(0);
            transform: translate(1306px, 365px) scale(0);
    opacity: 0;
  }
}
#svg-steam-4 {
  -webkit-animation: steam_svg-steam-4 2s ease-out 0s infinite;
          animation: steam_svg-steam-4 2s ease-out 0s infinite;
  -webkit-filter: blur(1.7rem);
          filter: blur(1.7rem);
  opacity: 0;
  -webkit-transform: translate(1292px, 355px) scale(0);
      -ms-transform: translate(1292px, 355px) scale(0);
          transform: translate(1292px, 355px) scale(0);
}

.lights-off #svg-steam-4 {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

@-webkit-keyframes steam_svg-steam-4 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1292px, 460px) scale(0.25);
            transform: translate(1292px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1292px, 365px) scale(1);
            transform: translate(1292px, 365px) scale(1);
  }
  100% {
    -webkit-transform: translate(1292px, 355px) scale(0);
            transform: translate(1292px, 355px) scale(0);
    opacity: 0;
  }
}

@keyframes steam_svg-steam-4 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1292px, 460px) scale(0.25);
            transform: translate(1292px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1292px, 365px) scale(1);
            transform: translate(1292px, 365px) scale(1);
  }
  100% {
    -webkit-transform: translate(1292px, 355px) scale(0);
            transform: translate(1292px, 355px) scale(0);
    opacity: 0;
  }
}
#svg-steam-3 {
  -webkit-animation: steam_svg-steam-3 3s ease-out 0.3s infinite;
          animation: steam_svg-steam-3 3s ease-out 0.3s infinite;
  -webkit-filter: blur(1.7rem);
          filter: blur(1.7rem);
  opacity: 0;
  -webkit-transform: translate(1278px, 345px) scale(0);
      -ms-transform: translate(1278px, 345px) scale(0);
          transform: translate(1278px, 345px) scale(0);
}

.lights-off #svg-steam-3 {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

@-webkit-keyframes steam_svg-steam-3 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1278px, 460px) scale(0.25);
            transform: translate(1278px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1278px, 350px) scale(1);
            transform: translate(1278px, 350px) scale(1);
  }
  100% {
    -webkit-transform: translate(1278px, 345px) scale(0);
            transform: translate(1278px, 345px) scale(0);
    opacity: 0;
  }
}

@keyframes steam_svg-steam-3 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1278px, 460px) scale(0.25);
            transform: translate(1278px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1278px, 350px) scale(1);
            transform: translate(1278px, 350px) scale(1);
  }
  100% {
    -webkit-transform: translate(1278px, 345px) scale(0);
            transform: translate(1278px, 345px) scale(0);
    opacity: 0;
  }
}
#svg-steam-2 {
  -webkit-animation: steam_svg-steam-2 2s ease-out 3.2s infinite;
          animation: steam_svg-steam-2 2s ease-out 3.2s infinite;
  -webkit-filter: blur(1.7rem);
          filter: blur(1.7rem);
  opacity: 0;
  -webkit-transform: translate(1264px, 355px) scale(0);
      -ms-transform: translate(1264px, 355px) scale(0);
          transform: translate(1264px, 355px) scale(0);
}

.lights-off #svg-steam-2 {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

@-webkit-keyframes steam_svg-steam-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1264px, 460px) scale(0.25);
            transform: translate(1264px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1264px, 365px) scale(1);
            transform: translate(1264px, 365px) scale(1);
  }
  100% {
    -webkit-transform: translate(1264px, 355px) scale(0);
            transform: translate(1264px, 355px) scale(0);
    opacity: 0;
  }
}

@keyframes steam_svg-steam-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1264px, 460px) scale(0.25);
            transform: translate(1264px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1264px, 365px) scale(1);
            transform: translate(1264px, 365px) scale(1);
  }
  100% {
    -webkit-transform: translate(1264px, 355px) scale(0);
            transform: translate(1264px, 355px) scale(0);
    opacity: 0;
  }
}
#svg-steam-1 {
  -webkit-animation: steam_svg-steam-1 3s ease-out 0.8s infinite;
          animation: steam_svg-steam-1 3s ease-out 0.8s infinite;
  -webkit-filter: blur(1.7rem);
          filter: blur(1.7rem);
  opacity: 0;
  -webkit-transform: translate(1251px, 365px) scale(0);
      -ms-transform: translate(1251px, 365px) scale(0);
          transform: translate(1251px, 365px) scale(0);
}

.lights-off #svg-steam-1 {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

@-webkit-keyframes steam_svg-steam-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1251px, 460px) scale(0.25);
            transform: translate(1251px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1251px, 375px) scale(1);
            transform: translate(1251px, 375px) scale(1);
  }
  100% {
    -webkit-transform: translate(1251px, 365px) scale(0);
            transform: translate(1251px, 365px) scale(0);
    opacity: 0;
  }
}

@keyframes steam_svg-steam-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(1251px, 460px) scale(0.25);
            transform: translate(1251px, 460px) scale(0.25);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(1251px, 375px) scale(1);
            transform: translate(1251px, 375px) scale(1);
  }
  100% {
    -webkit-transform: translate(1251px, 365px) scale(0);
            transform: translate(1251px, 365px) scale(0);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */